@import 'palette';

:local {

  .wrapper {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    font-size: 13px;
    cursor: pointer;

    &:hover {
      background: $sideBarHoverBg;
    }
  }

  .highlighted {
    background: #f7fbff;
    border-left: 2px solid $mule;
    border-right: 2px solid $mule;
  }

}