@import 'palette';

:local {

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .title {
      text-transform: uppercase;
      font-size: 12px;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      min-height: 30px;
      height: 30px;
      margin-bottom: 5px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      background: $dwEditorTitleBg;
      color: $steel1;
      font-weight: bold;

      .filename {
        text-transform: initial;
        margin-left: 10px;
      }
    }

    .editor {
      flex: 1;
      height: calc(100% - 45px) !important;
    }
  }

}