@import 'palette';

:local {

  .wrapper {
    .label {
      display: flex;
      padding: 6px 16px;
      font-size: 13px;
      cursor: pointer; 
      align-items: center;
      
      &:hover {
        background: $sideBarHoverBg;
      }

      & .folderIcon {
        margin-right: 10px;
      }
    }
  }

}