@import 'palette';

:local {

  .wrapper {
    display: flex;
    padding: 0px 5px;
    cursor: pointer;
    align-items: center;
    user-select: none;
    color: $steel1;

    .label {
      display: block;
      width: 9.5em;
    }

    & * {
      fill: $steel1;
    }
    
    &.active {
      color: $steel4;
      & * {
        fill: $steel4;
      }
    }

    .toggleIcon {
      margin-left: 5px;
    }
  }

}